fastapi==0.115.0
uvicorn==0.32.0
python-multipart==0.0.12
python-dotenv==1.0.1
SpeechRecognition==3.11.0
gtts==2.5.3
pygame==2.6.1
opencv-python==4.10.0.84
numpy==2.1.3
langchain==0.3.7
langchain-openai==0.2.8
langgraph==0.2.45
pydub==0.25.1
requests==2.32.3
